{% load static %}

<html>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/webflow.css' %}">
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<head>
   <title>
    {% block title %}{% endblock %}
   </title>

</head>

<body>
    
    {% include './components/navbar.html' %}
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>

    {% block login %}
    {% endblock %}

</body>

</html>