{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Password reset complete{% endblock %}



{% block login %}

<div id="signup-card-container">
    <div class="card" style="width: 24rem; height: 100vh;">

        <div class="card-body">
            <h5 class="card-title">Password reset complete</h5>
            <p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.
            </p>
        </div>
    </div>
</div>

<style>
    #signup-card-container {
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("{% static 'img/sign-in-background.jpg' %}");
        background-size: cover;
        background-position: center center;

    }
</style>

{% endblock %}