<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Search</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">My Room</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">My Profile</a>
    </li>

    <li class="nav-item">

        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="#">Log Out</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="#">Sign In</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Sign Up</a>
        </li>

        {% endif %}
    </li>

</ul>