<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Find People</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">My Room</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">My Profile</a>
    </li>

    <li class="nav-item">

        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}?next={% url 'login' %}">Log Out</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Sign In</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
        </li>

        {% endif %}
    </li>

</ul>

<style>
    
</style>