html {
    background: url(images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hero-overlay-block {
    width: 100%;
    height: 94.1vh;
    padding-top: 0px;
    padding-bottom: 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/Untitled.jpeg');
    background-position: 0px 0px;
    background-size: cover;
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
    background-size: cover;
    background-blend-mode: darken;

}

.container {
    position: relative;
}

.container.hero-container {
    position: relative;
    top: 73px;
    display: block;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: center;
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

.hero-main-title {
    font-size: 60px;
    line-height: 44px;
}

.hero-main-title.subtitle {
    width: 80%;
    margin-bottom: 30px;
    line-height: 34px;
}


html.w-mod-js *[data-ix="fade-in-on-load"] {
    opacity: 0;
    -webkit-transform: translate(0px, 30px);
    -ms-transform: translate(0px, 30px);
    transform: translate(0px, 30px);
}

html.w-mod-js *[data-ix="fade-in-on-load-2"] {
    opacity: 0;
}

html.w-mod-js *[data-ix="fade-in-on-load-3"] {
    opacity: 0;
}

html.w-mod-js *[data-ix="fade-in-on-load-4"] {
    opacity: 0;
}

html.w-mod-js *[data-ix="fade-in-on-load-5"] {
    opacity: 0;
    -webkit-transform: translate(0px, 30px);
    -ms-transform: translate(0px, 30px);
    transform: translate(0px, 30px);
}


.container-2 {
    margin-top: 265px;
}

.button-4 {
    position: relative;
    left: 400px;
    background-color: #ee0c0f;
    color: #000;
}

.button-5 {
    position: relative;
    left: 368px;
    background-color: #ee0c0f;
    color: #000;
}

.w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #990000;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}

.w-button:hover {
    color: white;
    transform: scale(1.2);
    text-decoration: none;
}