	navbar {
	width: 100%;
	margin:0px 0;
	}
		navbar ul{
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	}

	navbar ul li{
	width: 33%;
	float: left;
	}
		navbar ul li a{
	text-decoration: none;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 20px 0;
	display: block;
	width: 100%;
	background-color: #FF0000;
	}

	navbar ul li a:hover {
	background-color: #F66F6F;
	}

.home{
	margin-right: 5%;
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 5px;
	padding-bottom: 15px;
	border-radius: 10px;
	box-shadow: 15px 15px 15px black;
	text-align: justify;
	color: white;
	background-image: linear-gradient(rgb(129, 196, 235), rgb(5, 44, 151));
}

.project-area {

	background-repeat: no-repeat;
	background-position: left;
	box-sizing: border-box;
}

.project-item {
	width: 75%;
	margin-top:5px;
	margin-bottom:15px;
	margin-left: 5%;
	margin-right: 5%;
	padding-top:5px;
	padding-bottom:5px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 10px;
	box-shadow: 10px 10px 40px gray;
	text-align: justify;
	color: white;
	background-color: black;
}

#project {
	border-left: 15px solid;
	border-image: linear-gradient(purple, tomato);
	border-image-slice: 1;
}


#contact .contact-item {
background-color: aquamarine;
float: left;
	width: 20%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 15px 15px 15px black;
}
