{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
<title>My Roommate Matches</title>
		<section class="project-area">
			<center>
			<font size="6">

<p>Roommate Top Picks</p>

			</font>
				<div id="project" class="project-item">
					<h2>Roommate #1 Name</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Vestibulum dignissim, sapien et efficitur vulputate,
						felis blandit metus, vitae eleifend nisl justo sed nunc.
						Sed ut nunc malesuada, scelerisque mauris sed, hendrerit neque.
						Morbi eget nisl non tellus posuere iaculis.
						Nunc ut tincidunt est, a tempus tortor. Mauris lobortis felis elit,
						quis euismod urna lacinia vitae. Morbi interdum diam in faucibus finibus.
						Sed pellentesque sem a diam rhoncus, eu semper neque efficitur. </p>

				</div>
				<div id="project" class="project-item">
					<h2>Roommate #2 Name </h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Vestibulum dignissim, sapien et efficitur vulputate,
						felis blandit metus, vitae eleifend nisl justo sed nunc.
						Sed ut nunc malesuada, scelerisque mauris sed, hendrerit neque.
						Morbi eget nisl non tellus posuere iaculis.
						Nunc ut tincidunt est, a tempus tortor. Mauris lobortis felis elit,
						quis euismod urna lacinia vitae. Morbi interdum diam in faucibus finibus.
						Sed pellentesque sem a diam rhoncus, eu semper neque efficitur. </p>

				</div>
			</div>
			</center>
		</section>
