# This is a basic workflow to help you get started with Actions

name: Build Docs

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.ref_name }}

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Building Docs
        run: |
          sphinx-build -b html docs/  docs/build
          
#       - name: Commit changes to github  
#         run: |
#           git config user.name github-actions
#           git config user.email github-actions@github.com
#           git add .
#           git commit -m "build docs"
#           git push
          
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Build Docs
